{% extends 'ServicEventPool/base.html' %}

{% block content %}

    <br/><br/>
    {% if submitted %}
        Your Media is submitted successfully!

    {% else %}


         <div class="card mb-3">
            <div class="row g-0">
              <div class="col-sm-12">
                <div class="card-body mb-3">
                <h3 class="card-title">
                            <a>
                                  Add a Media
                            </a>
                </h3>

                    <form action="" method="post" enctype="multipart/form-data">
                    <div>
                        {% csrf_token %}

                        {{ form.as_p }}

                    <input type="submit" value="Submit"
                           class="btn btn-success">
                    </div>
                </form>

                </div>
              </div>
            </div>
        </div>
    {% endif %}
{% endblock %}