{% extends 'ServicEventPool/base.html' %}

{% block content %}


    <h1>Welcome to SERVICE LIST PAGE</h1>
    {% for service in service_list %}
        <a href = "{% url 'service_details' slug=service.slug %}">
              {{ service.name }}
        </a>
        <strong>Name: </strong>{{ service }}<br>
        <strong>Description: </strong>{{ service.description }}<br>
        <strong>Duration: </strong>{{ service.duration_credit }}<br>
        <strong>Location: </strong>{{ service.location }}<br>
        <strong>Service Provider: </strong>{{ service.service_provider }}<br><br>
    {% endfor %}


{% endblock %}