{% extends 'ServicEventPool/base.html' %}

{% block content %}


    <h1>Application Managements</h1>
        <strong>Name: </strong>{{ service }}<br>
        <strong>Description: </strong>{{ service.description }}<br>
        <strong>Applicants:</strong><br>
        {% for applicant in service.applicants.all %}
                    <a href = "{% url 'profile_page_others' id=1 %}">{{ applicant }}</a>
                <form method="POST" action="">{% csrf_token %}

{#                            <div class="col-md-3">#}
{#             <select class="form-select" data-trigger="" name="attendee" value="{{ request.GET.attendee }}">#}
{#                    <option selected disabled>Applicants:</option>#}
{#                    {% for applicant in applicants %}#}
{#                      <option>{{ applicant }}</option>#}
{#                    {% endfor %}#}
{#             </select>#}
{#         </div>#}

                <button class="btn btn-primary" type="submit" >Approve</button>
                </form>
        {% endfor %}




        <strong>Attendees:</strong>
        {% for attendee in service.attendees.all %}
                    <li>{{ attendee }}</li>
        {% endfor %}
        <br>

    <br>
    <br>
    <button class="btn btn-primary" onclick="goBack()">Go Back to Service Page</button>
{#    <button class="btn btn-primary" onclick="reload()">Reload</button>#}

    <script>
function goBack() {
  window.history.back();
}
function reload() {
  location.reload();
}
</script>

{#    <a target="_blank"#}
{#    class="btn btn-info pull-right"#}
{#    href="{% url 'apply_service' service.slug %}">#}
{#    Request#}
{#</a>#}

{% endblock %}